@import url(tokens.css); /*Couleurs du theme*/
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);

.references-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--md-sys-color-on-surface);
    color: var(--md-sys-color-surface);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    width: -webkit-fill-available;
}

mark {
    text-decoration: none;
    text-shadow: none;
}

body {
    background-color: var(--md-sys-color-surface);
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    margin: 0px;
}

.container {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    border-radius: 15px;
}

.inscrollmenu button {
    border-radius: 15px;
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

.inscrollmenu p{
    text-align: left;
    color: #fffbff;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    text-shadow: 0 0 10px #000000;
}

.column-b {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inscrollmenu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    text-align: center;
    text-decoration: none;
    background-size: cover;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    color: white;
    gap: 5px;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.navBar {
    border-radius: 15px;
    width: -webkit-fill-available;
    padding: 0px 20px 0px 20px;
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.p-label {
    display: flex;
    gap: inherit;
}

a {
    color: var(--md-sys-color-primary);
}

hr {
    display: block;
    width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24,
}

*{
    font-family: "Poppins";
}

h1, h2, h3{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
}

h3 {
    color: var(--md-sys-color-on-tertiary-container);
    padding-left: 5%;
}

.p {
    margin: 0px;
}

.round-glass {
    padding: 20px;
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    border-radius: 25px;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: none;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
}

.on-round-glass {
    color: var(--md-sys-color-on-surface-variant);
}

.major-text {
    color: var(--md-sys-color-on-surface);
    display: flex;
    justify-content: center;
    margin: 0px;
    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: bolder;
    font-size: -webkit-xxx-large;
    font-size: xxx-large;
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    line-height: var(--md-sys-typescale-title-large-height);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
    text-decoration: var(--md-sys-typescale-title-large-text-decoration);
}

.checkbox-container-row-b {
    gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.advice-container {
    font-weight: bold;
}
/* Styles pour le thème clair */
@media (prefers-color-scheme: light) {

    body {
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }

    .advice-container {    
        display: flex;
        gap: inherit;
        background-color: #a7d1ab;
        border-color: var(--md-sys-color-outline);
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 0px 10px 0px 10px;
        color: #204529;
        align-items: center;
    }

    .question-text {
        color: var(--md-sys-color-on-surface);
        font-size: x-large;
        font-weight: bold;
        margin: 0px;
        display: block;
    }

    .progress-bar-bg{
        width: 100%;
        height: 0px;
        border-radius: 25px;
        background-color: var(--md-sys-color-secondary-container);
        transition: 0.25s;
        transition: height 0.25s;
    }

    .progress-bar-fg{
        width: 0%;
        height: 100%;
        border-radius: 25px;
        background-color: var(--md-sys-color-on-secondary-container);
        transition: 0.25s;
        object-fit: contain;
    }

    .progress-bar-bg-a{
        width: 100%;
        height: 0px;
        border-radius: 25px;
        background-color: var(--md-sys-color-on-secondary);
        transition: 0.25s;
        transition: height 0.25s;
    }

    .progress-bar-fg-a{
        width: 0%;
        height: 100%;
        border-radius: 25px;
        background-color: var(--md-sys-color-secondary);
        transition: 0.25s;
        object-fit: contain;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        align-content: center;
    }

    header button{
        margin: 5px 0px 0px 10px;
        padding: 5px 10px 5px 10px;
        font-weight: bolder;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        bottom: 0;
    }

    footer img{
        max-width: 200px;
        height: auto;
    }

    .question-display-box {
        margin: auto;
        max-width: -moz-fit-content;
        max-width: fit-content;
        -moz-fit-content: fit-content;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .question-global {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        max-width: 100%;
    }

    .question-global .column {
        background-color: var(--md-sys-color-surface-variant);
        color : var(--md-sys-color-on-surface-variant);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        border-radius: 25px;
        padding: 25px;
        width: -webkit-fill-available;
    }

    .row .column{
        width: -webkit-fill-available;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .results-global {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        max-width: 100%;
    }

    .results-global .column {
        background-color: var(--md-sys-color-tertiary-container);
        color : var(--md-sys-color-on-tertiary-container);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        border-radius: 25px;
        padding: 25px;
        height: max-content;        
    }

    .reset-btn {
        background-color: var(--md-sys-color-tertiary);
        color: var(--md-sys-color-on-tertiary);
        font-weight: bolder;
    }

    .column button:hover {
        background-color: var(--md-sys-color-on-tertiary);
        color: var(--md-sys-color-tertiary);
        font-weight: bolder;
    }

    .buttons-container-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    button {
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: none;
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;
        font-weight: bolder;
    }

    button:hover {
        background-color: var(--md-sys-color-on-tertiary-container);
        color: var(--md-sys-color-tertiary-container);
        transition: 0.5s;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
    }

    .number-input {
        background-color: var(--md-sys-color-surface);
        border-color: var(--md-sys-color-outline);
        border-radius: 10px;
        padding: 10px;
        border-width: 0px;
        color: var(--md-sys-color-on-surface);
    }

    .number-input-b {
        background-color: var(--md-sys-color-surface);
        border-color: var(--md-sys-color-outline);
        padding: 5px;
        border-width: 0px;
        color: var(--md-sys-color-on-surface);
        width: 50px;
    }

    .nav-btn-left{
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
        padding: 10px;
        width: 100%;
        justify-content: center;
        transition: 0.5s;
    }

    .nav-btn-left:hover {
        background-color: var(--md-sys-color-on-tertiary-container);
        color: var(--md-sys-color-tertiary-container);
        transition: 0.5s;
        padding-right: 25px;
    }

    .nav-btn-right{
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
        padding: 10px;
        width: 100%;
        justify-content: center;
        transition: 0.5s;
    }

    .nav-btn-right:hover {
        background-color: var(--md-sys-color-on-tertiary-container);
        color: var(--md-sys-color-tertiary-container);
        transition: 0.5s;
        padding-left: 25px;
    }

    .option-btn{
        background-color: var(--md-sys-color-secondary);
        color: var(--md-sys-color-on-secondary);
        padding: 10px;
        width: 100%;
        justify-content: center;
    }

    .option-btn:hover {
        background-color: var(--md-sys-color-on-secondary);
        color: var(--md-sys-color-secondary);
        transition: 0.5s;
    }

    .checkbox-container-column {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .checkbox-container-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }

    input[type="checkbox"] {
        appearance: none;
        background-color: var(--md-sys-color-secondary);
        margin: 0;
        font: inherit;
        color: var(--md-sys-color-on-secondary);
        min-width: 1.15em;
        min-height: 1.15em;
        max-width: 1.15em;
        max-height: 1.15em;
        border: none;
        border-radius: 0.35em;
        transform: translateY(-0.075em);
    }

    input[type="checkbox"]:checked {
        background-color: var(--md-sys-color-on-secondary);
        color: var(--md-sys-color-secondary);
        border: 0.1em solid var(--md-sys-color-secondary);
    }

    .add-remove-container-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .column .add-btn {
        background-color: var(--md-sys-color-tertiary);
        color: var(--md-sys-color-on-tertiary);
        border: none;
        border-radius: 0px 10px 10px 0px;
        padding: 5px;
        transition: 0.15s;
    }

    .column .add-btn:hover {
        background-color: var(--md-sys-color-on-tertiary);
        color: var(--md-sys-color-tertiary);
        transition: 0.15s;
    }

    .column .remove-btn {
        background-color: var(--md-sys-color-error);
        color: var(--md-sys-color-on-error);
        border: none;
        border-radius: 10px 0px 0px 10px;
        padding: 5px;
        transition: 0.15s;
    }

    .column .remove-btn:hover {
        background-color: var(--md-sys-color-on-error);
        color: var(--md-sys-color-error);
        transition: 0.15s;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /*.round-glass {
        padding: 20px;
        background: white;
        color: black;
        border-radius: 25px;
        backdrop-filter: blur(6.2px);
        -webkit-backdrop-filter: blur(6.2px);
        border: none;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        align-items: stretch;
    }*/

    label {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .references-container h1 {
        font-size: 100px;
    }

    .reference-title {
        font-size: calc(6vw + 10px);
        padding: 0px;
        margin: 0px;
        font-weight: bolder;
        color: black;
    }

    .start-btn {
        color: var(--md-sys-color-tertiary-container);
        background-color: var(--md-sys-color-on-tertiary-container);
    }

    .start-btn:hover {
        color: var(--md-sys-color-on-tertiary-container);
        background-color: var(--md-sys-color-tertiary-container);
    }
}
    
@media 

(prefers-color-scheme: dark) {

    .advice-container {
        display: flex;
        gap: inherit;
        background-color: #204529;
        border-color: var(--md-sys-color-outline);
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 0px 10px 0px 10px;
        color: #a7d1ab;
        align-items: center;
    }

    .question-text {
        color: var(--md-sys-color-on-surface);
        font-size: x-large;
        font-weight: bold;
        margin: 0px;
        display: block;
    }

    .progress-bar-bg{
        width: 100%;
        height: 0px;
        border-radius: 25px;
        background-color: var(--md-sys-color-secondary-container);
        transition: 0.25s;
        transition: height 0.25s;
    }

    .progress-bar-fg{
        width: 0%;
        height: 100%;
        border-radius: 25px;
        background-color: var(--md-sys-color-on-secondary-container);
        transition: 0.25s;
        object-fit: contain;
    }

    .progress-bar-bg-a{
        width: 100%;
        height: 0px;
        border-radius: 25px;
        background-color: var(--md-sys-color-on-secondary);
        transition: 0.25s;
        transition: height 0.25s;
    }

    .progress-bar-fg-a{
        width: 0%;
        height: 100%;
        border-radius: 25px;
        background-color: var(--md-sys-color-secondary);
        transition: 0.25s;
        object-fit: contain;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        align-content: center;
    }

    header button{
        margin: 5px 0px 0px 10px;
        padding: 5px 10px 5px 10px;
        font-weight: bolder;
    }

    body {
        -webkit-backdrop-filter: blur(15px) brightness(0.5);
        backdrop-filter: blur(15px) brightness(0.5);
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        bottom: 0;
    }

    footer img{
        max-width: 200px;
        height: auto;
    }

    .question-display-box {
        margin: auto;
        max-width: -moz-fit-content;
        max-width: fit-content;
        -moz-fit-content: fit-content;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .question-global {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        max-width: 100%;
    }

    .question-global .column {
        background-color: var(--md-sys-color-surface-variant);
        color : var(--md-sys-color-on-surface-variant);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        border-radius: 25px;
        padding: 25px;
        width: -webkit-fill-available;
    }

    .row .column{
        width: -webkit-fill-available;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .results-global {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        max-width: 100%;
    }

    .results-global .column {
        background-color: var(--md-sys-color-tertiary-container);
        color : var(--md-sys-color-on-tertiary-container);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        border-radius: 25px;
        padding: 25px;
        height: max-content;        
    }

    .reset-btn {
        background-color: var(--md-sys-color-tertiary);
        color: var(--md-sys-color-on-tertiary);
        font-weight: bolder;
    }

    .column button:hover {
        background-color: var(--md-sys-color-on-tertiary);
        color: var(--md-sys-color-tertiary);
        font-weight: bolder;
    }

    .buttons-container-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    button {
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: none;
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;
        font-weight: bolder;
    }

    button:hover {
        background-color: var(--md-sys-color-on-tertiary-container);
        color: var(--md-sys-color-tertiary-container);
        transition: 0.5s;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
    }

    .number-input {
        background-color: var(--md-sys-color-surface);
        border-color: var(--md-sys-color-outline);
        border-radius: 10px;
        padding: 10px;
        border-width: 0px;
        color: var(--md-sys-color-on-surface);
    }

    .number-input-b {
        background-color: var(--md-sys-color-surface);
        border-color: var(--md-sys-color-outline);
        padding: 5px;
        border-width: 0px;
        color: var(--md-sys-color-on-surface);
        width: 50px;
    }

    .nav-btn-left{
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
        padding: 10px;
        width: 100%;
        justify-content: center;
        transition: 0.5s;
    }

    .nav-btn-left:hover {
        background-color: var(--md-sys-color-on-tertiary-container);
        color: var(--md-sys-color-tertiary-container);
        transition: 0.5s;
        padding-right: 25px;
    }

    .nav-btn-right{
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
        padding: 10px;
        width: 100%;
        justify-content: center;
        transition: 0.5s;
    }

    .nav-btn-right:hover {
        background-color: var(--md-sys-color-on-tertiary-container);
        color: var(--md-sys-color-tertiary-container);
        transition: 0.5s;
        padding-left: 25px;
    }

    .option-btn{
        background-color: var(--md-sys-color-secondary);
        color: var(--md-sys-color-on-secondary);
        padding: 10px;
        width: 100%;
        justify-content: center;
    }

    .option-btn:hover {
        background-color: var(--md-sys-color-on-secondary);
        color: var(--md-sys-color-secondary);
        transition: 0.5s;
    }

    .checkbox-container-column {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .checkbox-container-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }

    input[type="checkbox"] {
        appearance: none;
        background-color: var(--md-sys-color-secondary);
        margin: 0;
        font: inherit;
        color: var(--md-sys-color-on-secondary);
        min-width: 1.15em;
        min-height: 1.15em;
        max-width: 1.15em;
        max-height: 1.15em;
        border: none;
        border-radius: 0.35em;
        transform: translateY(-0.075em);
    }

    input[type="checkbox"]:checked {
        background-color: var(--md-sys-color-on-secondary);
        color: var(--md-sys-color-secondary);
        border: 0.1em solid var(--md-sys-color-secondary);
    }

    .add-remove-container-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .column .add-btn {
        background-color: var(--md-sys-color-tertiary);
        color: var(--md-sys-color-on-tertiary);
        border: none;
        border-radius: 0px 10px 10px 0px;
        padding: 5px;
        transition: 0.15s;
    }

    .column .add-btn:hover {
        background-color: var(--md-sys-color-on-tertiary);
        color: var(--md-sys-color-tertiary);
        transition: 0.15s;
    }

    .column .remove-btn {
        background-color: var(--md-sys-color-error);
        color: var(--md-sys-color-on-error);
        border: none;
        border-radius: 10px 0px 0px 10px;
        padding: 5px;
        transition: 0.15s;
    }

    .column .remove-btn:hover {
        background-color: var(--md-sys-color-on-error);
        color: var(--md-sys-color-error);
        transition: 0.15s;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /*.round-glass {
        padding: 20px;
        background: var(--md-sys-color-surface-variant);
        color: var(--md-sys-color-on-surface-variant);
        border-radius: 25px;
        backdrop-filter: blur(6.2px);
        -webkit-backdrop-filter: blur(6.2px);
        border: none;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        align-items: stretch;
    }*/

    label {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .references-container{
        display: flex;
        flex-direction: row;
        background-color: var(--md-sys-color-on-surface);
        color: var(--md-sys-color-surface);
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 15px;
        width: -webkit-fill-available;
    }

    .references-container h1 {
        font-size: 100px;
    }

    .reference-title {
        font-size: calc(6vw + 10px);
        padding: 0px;
        margin: 0px;
        font-weight: 700;
        color: white;
    }

    .start-btn {
        color: var(--md-sys-color-tertiary-container);
        background-color: var(--md-sys-color-on-tertiary-container);
    }

    .start-btn:hover {
        color: var(--md-sys-color-on-tertiary-container);
        background-color: var(--md-sys-color-tertiary-container);
    }
}